{% extends 'qna/base.html' %}

{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}fckeditor/fckeditor.js"></script>
<script type="text/javascript">
window.onload = function () {
	var allPageTags = document.getElementsByTagName("textarea");
	for (i = 0; i < allPageTags.length; i++) {
                var oFCKeditor = new FCKeditor(allPageTags[i].id);
                oFCKeditor.Config["CustomConfigurationsPath"] = "{{ MEDIA_URL }}fckeditor/fckconfig.js";
                oFCKeditor.BasePath = "{{ MEDIA_URL }}fckeditor/";
                oFCKeditor.ReplaceTextarea();
	}
};
</script>
{% endblock %}

{% block content %}
<h2>New Question</h2>
<form method="post" enctype="multipart/form-data">
    {{ form.as_p }} 
    <input type="submit"/>
</form>
{% endblock %}